.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    margin: 4rem auto 0;
}

.modalHeaderContainer {
    background-color: steelblue;
    color: white;
}

.modalHeader {
    font-size: 1.2rem;
    font-weight: bold;
}

.modalBody {
    padding: 1rem;
}

.actionsContainer {
    text-align: right;
}